In [1]:
import numpy as np

In [2]:
import pandas as pd

# Question 1: Extract data from the given SalaryGender CSV file and store the data from each column in a separate NumPy array

In [3]:
File_Salary_Gender = pd.read_csv('SalaryGender.csv')

In [4]:
Salary_matrix = np.array(File_Salary_Gender['Salary'])

In [5]:
Gender_matrix = np.array(File_Salary_Gender['Gender'])

In [6]:
Age_matrix = np.array(File_Salary_Gender['Age'])

In [7]:
Phd_matrix = np.array(File_Salary_Gender['PhD'])

# Question 2: Find
* The number of men with a PhD
* The number of women with a PhD

In [8]:
File_Salary_Gender.groupby(['Gender',File_Salary_Gender['PhD']==1]).size()

Gender  PhD
0       False    35
        True     15
1       False    26
        True     24
dtype: int64

# Question 3: Use SalaryGender CSV file. Store the “Age” and “PhD” columns in one DataFrame and delete the data of all people who don’t have a PhD

In [9]:
Q3_File = pd.read_csv('SalaryGender.csv')

In [10]:
NotAPhD = Q3_File[Q3_File['PhD']==0].index

In [11]:
Q3_File = Q3_File.drop(NotAPhD)

In [12]:
Q3_File

    Salary  Gender  Age  PhD
0    140.0       1   47    1
1     30.0       0   65    1
4     80.0       0   53    1
8    125.0       1   44    1
9     51.0       1   63    1
12   150.0       1   60    1
17    84.0       0   47    1
18   190.0       1   66    1
19    74.0       1   45    1
25    15.2       1   66    1
26    28.6       1   36    1
28    72.0       0   51    1
29    81.0       1   65    1
30   100.0       0   45    1
31    90.0       0   52    1
32    90.0       0   54    1
38    63.0       1   34    1
41    92.0       0   58    1
42   106.0       1   77    1
45    32.0       0   48    1
47    55.0       1   49    1
49    28.0       0   65    1
54    84.0       0   49    1
56   160.0       1   61    1
57    65.0       0   43    1
60   102.0       1   66    1
63    55.0       1   56    1
73   152.0       1   71    1
76    30.0       1   69    1
77   120.0       1   58    1
79    36.0       1   32    1
80    96.0       1   33    1
81    38.0       0   32    1
87    72.0       1   42    1
89    41.0       0   51    1
90    89.0       1   71    1
92    52.0       1   55    1
94    66.0       0   55    1
96   152.0       1   56    1

# Question 4: Calculate the total number of people who have a PhD degree from SalaryGender CSV file.

In [13]:
len(File_Salary_Gender[File_Salary_Gender['PhD']==1])

39

# Question 5: How do you Count The Number Of Times Each Value Appears In An Array Of Integers?

[0, 5, 4, 0, 4, 4, 3, 0, 0, 5, 2, 1, 1, 9]

Answer should be array([4, 2, 1, 1, 3, 2, 0, 0, 0, 1]) which means 0 comes 4 times, 1 comes 2 times, 2 comes 1 time, 3 comes 1 time and so on.

In [14]:
Matrix1 = np.array([0, 5, 4, 0, 4, 4, 3, 0, 0, 5, 2, 1, 1, 9])

In [15]:
np.unique(Matrix1, return_counts=True)

(array([0, 1, 2, 3, 4, 5, 9]), array([4, 2, 1, 1, 3, 2, 1]))

# Question 6: Create a numpy array [[0, 1, 2], [ 3, 4, 5], [ 6, 7, 8],[ 9, 10, 11]]) and filter the elements greater than 5.

In [16]:
Matrix2 = np.array([[0, 1, 2], [ 3, 4, 5], [ 6, 7, 8],[ 9, 10, 11]])

In [38]:
print(Matrix2[Matrix2>5])

[ 6  7  8  9 10 11]

# Question 7 Create a numpy array having NaN (Not a Number) and print it.

array([ nan, 1., 2., nan, 3., 4., 5.])

Print the same array omitting all elements which are nan

In [39]:
Array1 = np.array([np.nan,1.,2.,np.nan,3.,4.,5.])

In [41]:
print(Array1)

[nan  1.  2. nan  3.  4.  5.]

In [51]:
print(Array1[~np.isnan(Array1)])

[1. 2. 3. 4. 5.]