In [1]:
#What is data science 
#Why data science 
#How to install python - Anaconda distribution 
#Datatypes in Python 
#Loops in Python 
    #for loops 
    #while loops
    #if and else statement , elif 
#2nd June 
#Python collection datatypes 
    #Lists 
    #Tuples 
    #Sets 
    #Dictionaries 
    #Loops and Lists

In [2]:
list1 = [1,1,2,3,4,5]
list2 = [2,3,4,5,6,7]
list3 = [3,4,5,6,7,8]
import itertools
for (i,j,k) in zip(list1,list2,list3):
    print(i,j,k)

1 2 3
1 3 4
2 4 5
3 5 6
4 6 7
5 7 8

In [3]:
counter=1
while counter>10:
    print(counter)
    counter=counter+1

# Python collection datatype

In [4]:
myfirstlist = [101,1002,1030,1034,1040,1400]

In [5]:
type(myfirstlist)

list

In [6]:
#myfirstlist[range:range:direction]
myfirstlist[-1:-4:-1]

[1400, 1040, 1034]

In [7]:
#First value is Inclusive 
#Last value is exclusive
#List always move in forward direction, so you need to mention direction you want it to move
myfirstlist[3:5]

[1034, 1040]

In [8]:
#Reversing starts from -1 
#Reverse Indexation 
myfirstlist[-1]

1400

In [9]:
myfirstlist[3]

1034

In [10]:
#Append will add a number at last 

myfirstlist.append(10000)

In [11]:
myfirstlist

[101, 1002, 1030, 1034, 1040, 1400, 10000]

In [12]:
#Insert command is used add value to list at a specific index 

myfirstlist.insert(5,50000)

In [13]:
myfirstlist

[101, 1002, 1030, 1034, 1040, 50000, 1400, 10000]

In [14]:
#Makes a copy 
#Independent
myfirstlist1= myfirstlist.copy()

In [15]:
myfirstlist1.append('Rahul')

In [16]:
#Assigns 1 list to another 
#Dependent 

myfirstlist2=myfirstlist1

In [54]:
myfirstlist2.append('Rahul1')

In [56]:
myfirstlist1

NameError: name 'myfirstlist1' is not defined

In [19]:
myfirstlist.append('rajat')

In [20]:
#Clears out the list
myfirstlist2.clear()
myfirstlist2

[]

In [21]:
#Deletes the list 
del myfirstlist1

In [22]:
#Number of elemnts in the list
len(myfirstlist)

9

In [48]:
myfirstlist

[50000, 1040, 0, 1030, 1002, 101, 1, 2]

In [59]:
myfirstlist.remove(0)

In [60]:
myfirstlist

[2, 101, 1002, 1030, 1040, 50000]

In [71]:
myfirstlist

[1, 1, 2, 101, 1002, 1040, 50000]

In [62]:
#Deletes the value using index number 
myfirstlist.pop(3)

1030

In [52]:
myfirstlist
myfirstlist.sort()
myfirstlist

[0, 2, 101, 1002, 1030, 1040, 50000]

In [53]:
#Creates a sublist 
mylist2=myfirstlist[0:4]

In [29]:
mylist2.append(10)

In [79]:
myfirstlist.insert(2,1)

In [86]:
myfirstlist.reverse()

In [87]:
myfirstlist

[50000, 1040, 1002, 101, 2, 1, 1, 1, 1]

In [32]:
myfirstlist

[101, 1002, 1030, 1034, 1040, 50000]

In [33]:
mylist2 = [1,2,3]

In [34]:
mylist2.pop(2)

3

In [35]:
myfirstlist.reverse()

In [36]:
myfirstlist

[50000, 1040, 1034, 1030, 1002, 101]

In [37]:
mylist2

[1, 2]

In [38]:
myfirstlist

[50000, 1040, 1034, 1030, 1002, 101]

In [39]:
myfirstlist.extend(mylist2)

In [40]:
myfirstlist

[50000, 1040, 1034, 1030, 1002, 101, 1, 2]

## Remove will remove the values by passing the element 
## Pop will remove the values by passing the index

In [90]:
#Changes the value at a particular index
myfirstlist[2]=2

In [91]:
myfirstlist

[50000, 1040, 2, 101, 2, 1, 1, 1, 1]

# Tuples
Tuples and list are similar
* Tuples are created with () whereas list is created with[]
* You can not change values in tuples

In [45]:
myfirsttuple = (50000, 1040, 1034, 1030, 1002, 101, 1, 2)

In [46]:
type(myfirsttuple)

tuple

In [93]:
myfirsttuple.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [47]:
myfirsttuple(2)=0

SyntaxError: can't assign to function call (<ipython-input-47-4d1c801d800f>, line 1)

In [101]:
#Counts the number of repetitions 
myfirsttuple.count(50000)

1

In [94]:
#Tells the index number
myfirsttuple.index(1034)

2

In [102]:
len(myfirsttuple)

8

In [ ]:
del myfirsttuple

# Sets

When there is a list with duplicates then you can create a to have unique values 
* You cannot change numebers in Set but, you can update or add 
* Indexation in set is not possible

In [ ]:
myfirstset = {1,1,2,3,3,4,5,6,6,7}

In [ ]:
myfirstset

In [ ]:
myscondlist = myfirsttuple

In [ ]:
type(myscondlist)

In [ ]:
myfirstset[0]=10

# Homework
### How to convert tuple to a list and vice versa

In [176]:
tuple1 = (1,2,28)

In [124]:
tuple1[3]

8

In [174]:
tuple1

(1, 2, 3, 8)

In [181]:
L = list(tuple1)

In [184]:
L.append("a")

In [186]:
type(L)

list

In [108]:
list1

[1, 1, 2, 3, 4, 5]

In [ ]:
myfirstset.add(10)

In [ ]:
myfirstset

In [ ]:
#Adds the value to the set 
myfirstset.update((104,105,105,106))

In [143]:
myfirstset

NameError: name 'myfirstset' is not defined

In [ ]:
len(myfirstset)

In [141]:
#Cannot remove 
myfirstset.remove(10)

NameError: name 'myfirstset' is not defined

In [ ]:
myfirstset.add{0}=100

In [ ]:
myfirstset[0]

# Dictionaries 
* It is a key:value pair

In [151]:
myfirstdict = {'Customer_name': ['A'], 
              'Order_id': [1],
              'Product': ['Python'],
              'Region':['North']}

In [152]:
myfirstdict

{'Customer_name': ['A'],
 'Order_id': [1],
 'Product': ['Python'],
 'Region': ['North']}

In [153]:
myfirstdict['Customer_name']='Ruby'

In [154]:
myfirstdict['Region']='North'

In [155]:
myfirstdict

{'Customer_name': 'Ruby',
 'Order_id': [1],
 'Product': ['Python'],
 'Region': 'North'}

In [157]:
len(myfirstdict)

4

In [158]:
myfirstdict.pop('Customer_name')

'Ruby'

In [159]:
myfirstdict.clear()

In [160]:
del myfirstdict

In [189]:
us_sales = [3245,3454,5595]
us_profit = [324,455,656]
#us_profit/us_sales

In [190]:
profitratio = []
for i in range(0,len(us_sales)):
    profitratio.append(us_profit[i]/us_sales[i])
profitratio

[0.09984591679506934, 0.13173132599884194, 0.11724754244861484]

In [191]:
import itertools
us_sales = [3245,3454,5565]
us_profit = [324,455,656]
for(a,b)in zip(us_sales,us_profit):
        print (b/a)

0.09984591679506934
0.13173132599884194
0.1178796046720575

# Numpy
* Will be using to create arrays

In [192]:
import numpy as np

In [193]:
us_sales = [3245,3454,5565]
us_profit = [324]

In [194]:
us_sales_array = np.array(us_sales)

In [195]:
us_profit_array = np.array(us_profit)

In [196]:
type(us_sales_array)

numpy.ndarray

In [197]:
us_profit_array/us_sales_array

array([0.09984592, 0.09380428, 0.05822102])

In [199]:
#Multiplying a list will create duplicates
us_sales*3

[3245, 3454, 5565, 3245, 3454, 5565, 3245, 3454, 5565]

In [198]:
#Multiplying an array will multiply each element
us_sales_array*3

array([ 9735, 10362, 16695])

In [ ]:
us_sales_array[0]=20000

In [ ]:
us_sales_array

In [200]:
list1 = [1,2,3,4,'R']

In [201]:
tuple1 = (1,2,3,4,'r')

In [202]:
tuple1

(1, 2, 3, 4, 'r')

In [203]:
list1

[1, 2, 3, 4, 'R']

In [204]:
myarray = np.array(list1)

In [205]:
myarray

array(['1', '2', '3', '4', 'R'], dtype='<U21')

In [206]:
mydata = np.arange(0,20)

In [209]:
mydata

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [208]:
type(mydata)

numpy.ndarray

In [218]:
#Column wise population 
mtrxi1 = np.reshape(mydata, (5,4), 'F')

In [219]:
mtrxi1

array([[ 0,  5, 10, 15],
       [ 1,  6, 11, 16],
       [ 2,  7, 12, 17],
       [ 3,  8, 13, 18],
       [ 4,  9, 14, 19]])

In [220]:
#Row wise population 
mtrxi2 = np.reshape(mydata, (5,4), 'C')

In [221]:
mtrxi2

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [214]:
#Row wise population 
mtrxi2 = np.reshape(mydata, (5,4))

In [215]:
mtrxi2

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [216]:
mydata

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [222]:
us_sales = [1,2,3,4]
india_sales = [2,3,4,5]
aus_sales = [3,4,5,6]

In [223]:
sales_matrix = np.array([us_sales, india_sales,aus_sales])

In [224]:
sales_matrix

array([[1, 2, 3, 4],
       [2, 3, 4, 5],
       [3, 4, 5, 6]])

In [225]:
us_profit = [0.3,0.2,0.3,0.4]
india_profit = [0.12,0.13,0.14,0.35]
aus_profit = [0.33,0.44,0.45,0.46]

In [226]:
profit_matrix = np.array([us_profit, india_profit, aus_profit])

In [227]:
profit_matrix

array([[0.3 , 0.2 , 0.3 , 0.4 ],
       [0.12, 0.13, 0.14, 0.35],
       [0.33, 0.44, 0.45, 0.46]])

In [228]:
profit_matrix/sales_matrix

array([[0.3       , 0.1       , 0.1       , 0.1       ],
       [0.06      , 0.04333333, 0.035     , 0.07      ],
       [0.11      , 0.11      , 0.09      , 0.07666667]])